{% extends "Layout.html" %}

{% block body %}
    <div class="jumbotron text-center">
        <h3 >Abaut us</h3>

    </div>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://avatars1.githubusercontent.com/u/33615092?s=400&v=4" alt="profil image">
  <div class="card-body">
    <h5 class="card-title">Barış Tutakli</h5>
    <p class="card-text">I'm maths student specializing in the Software engineering at the University of Galatasaray. ı'm interesting everything about python
                       </p>
    <a href="#" class="btn btn-primary">Contact me</a>
  </div>
</div>






{% endblock  %}